.dropdown{
    .dropdown-trigger{
        .button{
            background: white;
            color:black;
            padding:0.5rem;
            font-family:'Urbanist';
            border:0px;
            border-radius:4px;
        }
    }
    .dropdown-menu{
        text-align: left;;
    }
}
.seeFavouritesButton{
    background: white;
            color:black;
            padding:0.5rem;
            font-family:'Urbanist';
            border:0px;
            border-radius:4px;
}